<div class="d-flex ms-5">
    <div class="me-3">
        <h1 class="text"><b>CURRENT OFFERS</b></h1>
        <div class="d-flex mt-4">
            <div class="me-3" style="flex: 1;">
                <div>
                    <h2 class="orange">1</h2>
                    <h3 class="orange">BRAND CLASSIC MODELS</h3>
                    <p>Rent the best classic models</p>
                    
                </div>
                <div class="mt-5">
                    <h2 class="orange">3</h2>
                    <h3 class="orange">UNFORGETTABLE EXPERIENCES</h3>
                    <p>Get behind the wheel of a model your age or older</p>
                </div>
            </div>
            <div class="ms-3" style="flex: 1;">
                <div>
                    <h2 class="orange">2</h2>
                    <h3 class="orange">24/7 SERVICE</h3>
                    <p>Our advisors are here to help</p>
                    
                </div>
                <div class="mt-5">
                    <h2 class="orange">4</h2>
                    <h3 class="orange">IMMERSE YOURSELF IN THE WORLD OF CLASSIC MOTORING</h3>
                    <p>Old school driving without power steering and other unnecessary gadgets</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ms-5"><img src="assets/cadillac.jpg" height="300" alt=""></div>
</div>