.text{
    color: #FF4C4C;
    font-size: 58px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}

.orange {
    color: #FF4C4C;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}