<div class="content d-flex">
    <div>
        <h1 class="text">OUR MISSION</h1>
        <img src="assets/mustang.jpg" alt="" width="612" height="350">
    </div>

    <div class="w-100 second-column">
        <div>
            <img src="assets/interior.jpg" alt="" width="612" height="350">
        </div>
        <div class="descr-content">
        <p class="mt-5 descr">
            The mission of our classic car rental is to enable our customers to experience unforgettable moments behind
            the wheel of legendary vehicles from the past. We aim to deliver exceptional experiences that will stay in
            memory for years, while also promoting a passion for automotive and car culture by offering high-quality
            services and a commitment to sustainable enjoyment of automotive heritage. Our goal is to create a community
            of enthusiasts who share our love for classic cars and want to experience the true pleasure of driving.</p>
         </div> 
    </div>
</div>