.button {
    position: absolute;
    bottom: 50px;
    background-color: #FF4C4C;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 1rem 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
}

.button:hover {
    background-color: lighten(#FF4C4C, 5%);
}