.navlink {
    margin-right: 5rem;
    color: #FF4C4C;
    text-decoration: none;
    cursor: pointer;
}

.navlink:hover {
    border-bottom: 2px solid #FF4C4C;
}

.logo {
    color: #FF4C4C;
    cursor: pointer;
}