<div class="content px-5 py-5">
    <h1 class="orange text-center"><b>OUR CARS</b></h1>
    <div class="d-flex cars-content mt-5 px-5">
        <div>
            <img src="assets/o1.jpg" width="300" height="200" />
            <div class="orange text-center mt-3">Mercedes-Benz Gullwing</div>
        </div>
        <div>
            <img src="assets/o2.jpg" width="300" height="200" />
            <div class="orange text-center mt-3">1969 Mercury Montego</div>
        </div>
        <div>
            <img src="assets/o3.jpg" width="300" height="200" />
            <div class="orange text-center mt-3">Jaguar E-Type</div>
        </div>
    </div>
    <h1 class="orange text-center mt-5"><b>AND MORE...</b></h1>
</div>