<div class="content">
    <div class="d-flex">
        <div class="me-5">
            <h1 class="white"><b>GET IN TOUCH</b></h1>

            <div class="mt-5">
                <p class="orange">Mailing Address</p>
                <div class="white">
                    123 Anywhere St., Any City <br>
                    State, Country 12345
                </div>
            </div>
            <div class="mt-4">
                <p class="orange">Phone Number</p>
                <div class="white">
                    123 456 789
                </div>
            </div>
        </div>
        <div class="mt-5 ms-5">
            <div class="mt-5">
                <p class="orange">Email Address</p>
                <div class="white">
                    classic@rent.com
                </div>
            </div>
            <div class="mt-5">
                <p class="orange">Socials</p>
                <div class="white">
                    @ClassicRent
                </div>
            </div>
        </div>
    </div>
</div>